//- imports
@import 'variables';

nav.navbar.navbar-bar {
  margin-bottom: 0;
}

nav {
  z-index: 999;

  .container-fluid {
    padding-right: 1rem;
  }

  .nav li a,
  .navbar-brand {
    border-bottom: 0;
  }

  .nav li a {
    background: linear-gradient(to top right, transparent 50%, $gold 50%);
    background-position: bottom left;
    background-size: 200%;
    color: $gold;
    font-family: $font-accent;
    margin: 1.5rem .5rem;
    padding: .5rem;
    transition: all .5s ease;
    width: inherit;

    &:hover {
      background-position: top right;
      color: $white;
    }
  }

  .navbar-bar {
    background-color: transparent;
    border: 0;
  }
}

.active {
  background-color: $gold;
  color: $white;
}

@media only screen and (max-width: 768px) {
  .hamburger-nav {
    float: right;
    padding-right: 1rem;
    text-align: right;
  }
}
