//- imports
@import 'images';
@import 'navigation';
@import 'variables';

#left,
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left {
  background-color: $dark-grey;
  height: 100%;
  position: fixed;
  top: 0;
}

#right {
  height: 100%;
  position: fixed;
}

@media only screen and (max-width: 320px) {
  .container-fluid {
    padding: 0 .5rem;
  }
}

@media only screen and (max-width: 425px) {
  .navbar-collapse {
    background-color: $white;
    box-shadow: 0 3px 2px $shadow;
    float: right;
    margin-top: -2rem;
    width: 85%;
  }
}
