//- imports
@import 'images';
@import 'variables';

body {
  font-family: $font-body;
  font-size: $font-size-regular;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-accent;
  }

  a {
    color: $blue;
    font-family: $font-accent;
    font-size: $font-size-regular;
    padding: inherit;
    transition: all .5s ease-in-out;

    &:hover,
    &:focus {
      color: $hover-blue;
      transition: all .5s ease-in-out;
      text-decoration: none;
    }
  }

  .fa {
    font-size: $font-icon-size-regular;
  }

  .center {
    text-align: center;
  }

  .justify {
    text-align: justify;
  }

  .list-clean {
    list-style: none;
    padding: 0;
  }

  .shadow {
    box-shadow: 1px 1px 2px 0 $shadow;
    border-radius: 50%;
  }

  .text-right {
    text-align: right;
  }

  .uppercase {
    text-transform: uppercase;
  }
}
