//- imports
@import 'images';
@import 'variables';

body {
  font-family: $font-body;
  font-size: $font-size-regular;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-accent;
  }

  .fa {
    font-size: $font-icon-size-regular;
  }

  .center {
    text-align: center;
  }

  .justify {
    text-align: justify;
  }

  .shadow {
    box-shadow: 1px 1px 2px 0 $shadow;
    border-radius: 50%;
  }

  .text-right {
    text-align: right;
  }

  .uppercase {
    text-transform: uppercase;
  }
}
