@media only screen and (max-width:328px) {

	/* ----------HEADER---------- */
	header div.container {
		padding: 0 5rem;
	}

	header div.eight.columns,
	nav#header-navlinks {
		margin: 0;
		padding: 0;
	}

	header div.two.columns {
		margin: 1rem 0;
	}

	header div img {
		display: block;
		width: 90px;
		height: auto !important;
	}

	/*header div nav {
		display: block;
	}

	header div nav ul {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}*/

	header div nav ul li {
		font-size: 1.5em;
		text-align: center;
		/*margin: 0 2rem;*/
	}

	#marketing h1 {
		font-size: 2.3em;
	}

	#marketing p {
		font-size: 1.5em;
	}


	div#marketing {
		margin: 3rem 0;
		padding: 5rem 0;
	}


/* ----------FOOTER---------- */
	#footer-navlinks ul,
	#footer-policies-links ul {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}

	#footer-navlinks ul li {
		font-size: 1.2em;
		text-align: center;
		margin: 0 7rem;
		line-height: 2em;
	}

	#footer-policies-links ul li {
		font-size: 1em;
		text-align: center;
		margin: 0 7rem;
	}

}

/*@media only screen and (min-width:326px) {

	header div nav ul li {
		margin: 0 .5rem;
		font-size: 2em;
		text-align: center;
	}

	#marketing h1 {
		font-size: 2.7em;
	}

	#marketing p {
		font-size: 1.5em;
	}


	div#marketing {
		margin: 3rem 0;
		padding: 5rem 0;
	}
}*/

@media only screen and (max-width:750px) {

	header div.container {
		padding: 0 5rem;
	}

	header div.eight.columns,
	nav#header-navlinks {
		margin: 0;
		padding: 0;
	}

	header div nav {
		display: block;
	}

	header div nav ul {
		display: block;
		float: none;
		text-align: center;
		margin: 0;
	}

	header div nav ul li {
		font-size: 1.5em;
	}

	#footer div.seven.columns {
		padding: 0 0 1rem 0;
	}

}