@media only screen and (min-width:560px) and (max-width:860px) {

/* Header
=========================================================== */
	header div .seven.columns.offset-by-one.column {
		display: inline;
		margin-left: 6rem;
		padding: 2rem 0;
	}

	header div .two.columns.offset-by-one.column {
		display: inline;
		margin-left: 2rem;
		padding: 1.5rem 0 0;
	}

	header div nav ul li {
		display: inline;
		padding: 0 1rem 1rem;
	}

	#marketing h1 {
		font-size: 3em;
	}

/* Button
=========================================================== */
	#signup-nav span {
		padding: 10px 20px;
		font-size: 14px;
	}

	/* How It Works
=========================================================== */
	#howitworks p.two {
		padding: 2.5rem 0;
	}


	#howitworks p.three {
		padding: 2.5rem 0;
	}

	#howitworks div.three.columns {
		margin-left: 3rem;
		height: 210px;
		width: 140px;
	}

@media only screen and (max-width:640px) {
	#howitworks div.three.columns {
		margin-left: 1.5rem;
	}
}

@media only screen and (min-width:800px) {
	#howitworks div.three.columns {
		margin: 0 3rem;
	}
}


/* Testimonials
=========================================================== */
	#testimonials img {
		width: 11rem;
		height: auto;
	}

	#testimonials div.image {
		margin: 4rem 0;
	}

	#testimonials .six.columns h3 {
		margin: 2rem 0 0;
	}

@media only screen and (max-width:640px) {
	#testimonials div.image {
		margin: 3rem 0;
	}

	#testimonials .six.columns h3 {
		margin: 0;
		padding-top: 2.5rem;
		padding-bottom: 0rem;
	}

	#testimonials .six.columns p {
		padding-bottom: 3rem;
	}
}

/* Footer
=========================================================== */
	#footer .seven.columns {
		padding: 0;
		text-align: center;
	}

	#footer-navlinks ul li {
		padding: 1.5rem;
	}

	#footer-policies-links {
		color: #fff;
		font-size: 1em;
		font-weight: 700;
	}

	#footer-copyright {
		color: #e9e5e5;
		font-size: 1em;
		font-weight: 400;
	}

	@media only screen and (max-width:640px) {
		#footer-policies-links ul li {
			font-size: .9em;
		}
	}

/* Styles For Text
=========================================================== */
	#header nav a {
		font-size: 1.1em;
	}

	#howitworks p {
		font-size: 1.1em;
		font-weight: 400;
	}

	#features p,
	#testimonials p {
		font-size: 1.2em;
		font-weight: 400;
	}

/* Styles For Links
=========================================================== */
	#footer nav a {
		color: #ffffff;
		font-size: .9em;
		font-weight: 700;
	}

	#header nav a:hover,
	#footer nav a:hover {
		color: #55bbc4;
		border: none;
	}


}

