<!DOCTYPE html>
<html>
  <head>
    <title>Jane Lundgren</title>
    <!-- stay wanderful -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Small girl meets web.">
    <!--Favicon -->
    <link rel="apple-touch-icon" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <!-- // CSS // -->
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.min.css">
  </head>

  <!-- // CONTENT // -->
  <body>

    <!-- // SCRIPTS // -->
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/app.min.js"></script>
  </body>

</html>
