block about-me
  h4.center.uppercase  Hi, I'm Jane.
  br
  p.justify
    | My background is in psychology - it has been ever so useful in my coding & design journey, and life in general.
    br
    br
    | I strive to use code as a medium to inspire, allow people to explore the wonders of the world, and
    | in doing so, learn more about about themselves in their ever-changing environments. Ultimately, I want
    | to contribute to the advancement in the quality, accessability, and delivery of e-learning, focusing on designing
    | methods of online instruction and interaction, as well as adaptation to learners' needs.
    br
    br
    | I find myself inspired the most when I least expect it. It's a gradual process, and I allow myself to trust and follow
    | it to see where it leads me. It's usually an amalgamation of things experienced, observed, felt
    | (emotionally and physically), imagined, read, created, and conversed about at
    | one point in time, coalescing into what one could call an idea. It's in this, the early stages in conceptualising
    | intentions, that I feel most invigorated and revel in the process of making it a reality.
