extends ../templates/layout.pug

block content
  .container-fluid
    .row
      #left.col-md-6.col-sm-1.col-xs-2
        block writing
      #right.col-md-6.col-sm-11.col-xs-10.landing-selfie
        block writing-media
