extends ./supplemental/_index_layout.pug

block writing
  .writing
    block about-me
      include ./supplemental/_about_content.pug

block writing-media
  .writing-media
    block about-me
      include ./supplemental/_about_content.pug
