extends ./supplemental/_portfolio_layout.pug

block content
  br
  br
  br
  br
  .progress
    img(src='../img/progress.png')
  p.center
    | Hello, this page is being worked on at this very moment!
    | Check back soon, please!
