extends ./supplemental/_portfolio_layout.pug

block content
  br
  br
  br
  br
  .progress
    img(src='../img/progress.png')
  p.center
    | Hello, this page is being worked on at this very moment!
    | Check back soon, please!
    br
    | In the meantime, take a peek at a few things I've worked on in the past:
  br
  ul.list-clean
    li
      a(href="https://chrome.google.com/webstore/detail/space-patterns/dkdmjaboldkklmcomdamidplnfpnmmmd") Chrome Theme: Space & Patterns
      p
        | Currently on the Editor's Picks list ✌
        br
        | Created July 2016.
    li
      a(href="#") Chrome Theme: Watercolour
      p
        | Was featured on the Editor's Picks list
        br
        | Created February 2015.
    li
      a(href="/blog") Blog
      p
        | This marks the beginning of my Javascript learning.
        br
        | Blog made using Gulp.
        br
        | Created April 2016.
    li
      a(href="scholar-lund.heroku.com") Ruby on Rails: Scholar
      p
        | Playing with the V before the MC.
        br
        | Landing page for video-learning platform.
        br
        | Complete with Breaking Bad ipsum.
        br
        | Created 8 months ago.
    li
      a(href="hoodie-lund.heroku.com") Ruby on Rails: Hoodie, a Yelp-ish Clone
      p
        | A Yelp-ish clone with a crowd-source feel to it.
        br
        | Created 9 months ago.
    li
      a(href="elf-quotes.heroku.com") Ruby on Rails: Elf Quotes Generator
      p
        | My first coding project while learning Ruby & RoR.
        br
        | Randomizes and shows quotes, with an Elf twist.
        br
        | Created 10 months ago.
